@charset "UTF-8";

body 
{
    text-align: justify;
    background: linear-gradient(to bottom, #b9ecb9, #6ebe63, #24be3e);
    color: #080808;
    font-size: 12pt;
    font-family: Arial;
    margin-right: 40px;
    margin-left: 40px;
}

h1
{
    font-family: roboto;
    color: #000000;
}

h2
{
    font-family: roboto;
}

h3
{
    font-family: roboto;
}


p#principal
{
 color: rgb(33, 219, 104);
}

a{
    text-decoration: none;
    color: #5b8fc0fd;
}

.container {
    display: flex;
  }