@charset "UTF-8";

body 
{
    text-align: justify;
    background: linear-gradient(to bottom, #b9ecb9, #74ec64, #18dd39);
    color: #080808;
    font-size: 12pt;
    font-family: Arial;
    margin-right: 40px;
    margin-left: 40px;
}

h1
{
    color: #080808;
}

p#principal
{
 color: rgb(218, 57, 51);
}

a{
    text-decoration: none;
    color: #69668ffd;
}

.container {
    display: flex;
  }