@charset "UTF-8";

body 
{
    text-align: justify;
    background: linear-gradient(to bottom, #b9ecb9, #78e66a, #04f82c);
    color: #080808;
    font-size: 12pt;
    font-family: Arial;
    margin-right: 40px;
    margin-left: 40px;
}

h1
{
    color: #080808;
}

p#principal
{
 color: rgb(175, 238, 199);
}

a{
    text-decoration: none;
    color: #7d93a8fd;
}

.container {
    display: flex;
  }